.problem-form {
  input[type=submit] { margin-top: 15px; }
  // .relations {
  //   display: flex;
  //   flex-flow: row wrap;
  //   align-items: flex-start;
  //   > .col-sm-4 {
  //     flex-basis: 33%;
  //   }
  // }
  .relation, .relation-attribute {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
  }
  .relation-attribute {
    width: 90%;
    float: right;
    margin: 15px;
  }
  .fixed-height {
    max-height: 60vh;
    overflow-y: auto;
  }
}
